@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    outline: none;
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    height: 100%;
}
.header {
    width: 100vw;
    height: 77px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo-wrapper {
    height: 100%;
}
.header-logo-link {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-logo-link-left {
    background: url("../img/instagram-logo.png") 0 50% no-repeat;
    background-size: 22px;
    height: 28px;
    width: 40px;
    border-right: 1px solid #262626;
    margin-right: 16px;
}
.header-logo-link-right {
    height: 33px;
    width: 103px;
    background: url("../img/instagram-logo-text.png") 50% 50% no-repeat;
    background-size: cover;
}
.header-search-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 318px);
}
.header-search-form-input {
    padding: 5px 26px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    outline: none;
    width: 215px;
}
.header-user-wrapper {
    width: 159px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-user-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.header-user-button {
    height: 30px;
    width: 30px;
    background-position: 50% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
}
.header-user-button.profile {
    background-image: url("../img/user-icon.png");
}
.main {
    padding-top: 77px;
    background-color: #fafafa;
}
.main-container {
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.posts-container {
    width: 600px;
}
.post-item {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 60px;
}
.post-item:last-child {
    margin-bottom: 0;
}
.post-item-header {
    height: 60px;
    display: flex;
    border-bottom: 1px solid #efefef;
}
.post-item-header-account {
    width: calc(100% - 50px);
    padding: 0 10px;
}
.post-item-header-account-overlay {
    height: 100%;
}
.post-item-header-account-link-overlay {
    height: 100%;
    display: flex;
    align-items: center;
}
.post-item-header-account-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}
.post-item-header-account-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #cccccc;
    background-position: center;
    background-size: cover;
}
.post-item-header-account-username {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
.post-item-header-menu-trigger-wrapper {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-item-header-menu-trigger {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/dots-icon.svg") 50% 50% no-repeat;
    background-size: 16px;
    cursor: pointer;
}
.post-item-image-wrapper {
    width: 100%;
}
.post-item-image {
    width: 100%;
    height: auto;
}
.post-item-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-item-button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-item-button-icon {
    width: 24px;
    height: 24px;
    background: 50% 50% no-repeat;
    background-size: 24px;
    transition: 0.3s;
}
.post-item-button-icon.like {
    background-image: url("../img/like.svg");
}
.post-item-button.like-button.active .post-item-button-icon.like {
    background-image: url("../img/like-active.svg");
}
.post-item-like-counter {
    width: 100%;
    padding: 5px 10px;
}
.post-item-like-counter-text {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
.post-item-comment-container {
    padding: 5px 10px;
    max-height: 100px;
    overflow-y: hidden;
}
.post-item-comment {
    position: relative;
    padding: 5px 0 20px;
}
.post-item-comment-username {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
.post-item-comment-text {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
}
.post-item-comment-control-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    line-height: 18px;
    color: #ababab;
    text-transform: uppercase;
}
.post-item-comment-create {
    width: 100%;
    border-top: 1px solid #efefef;
}
.post-item-comment-create-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-item-comment-create-input {
    width: calc(100% - 120px);
    border: none;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    padding: 15px 10px;
}
.post-item-comment-submit-wrapper {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-item-comment-submit {
    color: #3897f0;
    border: none;
    padding: 0;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}
.sidebar {
    width: 300px;
}
.sidebar-account-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.sidebar-account-block {
    display: flex;
    align-items: center;
}
.post-create-link {
    color: #3897f0;
    border: none;
    padding: 0;
    background: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.sidebar-account-avatar {
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.sidebar-account-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.sidebar-account-username {
    color: #262626;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.sidebar-account-status {
    color: #ababab;
    font-size: 12px;
    line-height: 14px;
}
.sidebar-recommendation {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}
.sidebar-recommendation-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.sidebar-recommendation-header-heading {
    font-size: 14px;
    line-height: 18px;
    color: #ababab;
    display: inline-block;
}
.sidebar-recommendation-header-link {
    color: #262626;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
.sidebar-recommendation-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar-recommendation-account:last-child {
    margin-bottom: 0;
}
.sidebar-recommendation-account-wrapper {
    display: flex;
    align-items: center;
}
.sidebar-recommendation-account-avatar-wrapper {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}
.sidebar-recommendation-account-avatar {
    width: 34px;
    height: 34px;
    background-color: #cccccc;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-recommendation-account-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.sidebar-recommendation-account-text-username {
    color: #262626;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.sidebar-recommendation-account-text-status {
    color: #ababab;
    font-size: 12px;
    line-height: 14px;
}
.sidebar-recommendation-account-button {
    color: #3897f0;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.account-container {
    padding: 60px 20px;
}
.account-wrapper {
    display: flex;
    align-items: center;
}
.account-avatar-wrapper {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.account-info-wrapper {
    width: calc(100% - 300px);
}
.account-info-main {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.account-info-main-username {
    color: #262626;
    font-size: 28px;
    line-height: 32px;
    margin-right: 20px;
}
.account-info-main-button {
    padding: 5px 10px;
    color: #262626;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
}
.account-info-main-button.subscribe {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}
.account-info-stats {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.account-info-stats-block {
    margin-right: 40px;
    color: #262626;
    font-size: 16px;
}
.account-info-stats-block:last-child {
    margin-right: 0;
}
.bold-text {
    font-weight: 700;
}
.account-info-description {
    font-size: 14px;
}
.account-posts-header {
    margin-top: 50px;
    width: 100%;
    height: 52px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-posts-header-item {
    color: #262626;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-posts-header-item.active {
    border-top: 1px solid #262626;
}
.account-posts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.account-post-item {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.account-post-nothing {
    font-size: 14px;
    line-height: 18px;
    color: #cccccc;
    text-align: center;
    margin: 0 auto;
}
.account-post-item-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}
.account-post-item:hover .account-post-item-overlay {
    opacity: 1;
}
.account-post-item-overlay-text {
    display: flex;
    align-items: center;
}
.account-post-item-overlay-block {
    margin-right: 30px;
    background: 0 50% no-repeat;
    background-size: 20px;
    padding: 4px 0 4px 26px;
    color: #fff;
}
.account-post-item-overlay-block:last-child {
    margin-right: 0;
}
.account-post-item-overlay-block.likes {
    background-image: url("../img/overlay-like.svg");
}
.account-post-item-overlay-block.comments {
    background-image: url("../img/overlay-comment.svg");
}
.header-user-control-wrapper {
    display: flex;
    align-items: center;
}
.header-user-control-button {
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #b5b5b5;
    transition: color 0.3s;
}
.header-user-control-button:hover {
    color: #262626;
}
.header-user-control-button:last-child {
    margin-right: 0;
}
.register-wrapper {
    min-height: calc(100vh - 77px);
    padding: 60px 0;
}
.form {
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 20px;
}
.form.logo {
    padding-top: 80px;
    background: url("../img/instagram-logo-text.png") 50% 0 no-repeat;
    background-size: 200px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.form-group label {
    font-size: 14px;
    line-height: 18px;
    color: #262626;
    text-align: center;
    margin: 0 auto;
}
.form-group input, .form-group textarea {
    text-align: center;
    padding: 5px 26px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    outline: none;
    width: 215px;
}
.form-group textarea {
    resize: vertical;
    min-height: 34px;
    max-height: 150px;
    height: 45px;
}
.form-group.error input, .form-group.error textarea {
    border: 1px solid #ff7979;
}
.form-group.error label {
    color: #ff7979;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-error {
    color: #ff7979;
    margin: 2px 0 0;
    font-size: 12px;
}
.button-submit {
    margin-top: 15px;
    padding: 5px 10px;
    color: #262626;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    width: 215px;
}
.account-info-main-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.account-info-main-settings-trigger {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    background: url("../img/settings.svg") 50% 50% no-repeat;
    background-size: 24px;
    display: inline-block;
    cursor:pointer;
}
.account-info-main-settings-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: calc(100% - 24px);
    background: #fff;
    width: 150px;
    padding: 5px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    opacity: 0;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: opacity 0.3s, max-height 0.3s, transform 0.3s;
}
.account-info-main-settings.active .account-info-main-settings-menu {
    opacity: 1;
    max-height: 1000px;
    transform: scaleY(1);
}
.account-info-main-settings-menu-link-overlay {
    padding: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    color: #b5b5b5;
    transition: color 0.3s;
}
.account-info-main-settings-menu-link-overlay:hover {
    color: #262626;
}
.account-info-main-settings-menu-link-overlay::before {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #cccccc;
}
.account-info-main-settings-menu-link-overlay:last-child::before {
    display: none;
}
.account-info-main-settings-menu-item {
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
}
.post-item-text-wrapper {
    padding: 5px 10px;
}
.post-item-text {
    margin: 0;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
}
.post-item-header-menu-wrapper {
    position: relative;
}
.post-item-header-menu {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
    transition: opacity 0.3s, max-height 0.3s, transform 0.3s;
    position: absolute;
    top: calc(100% + 5px);
    left: calc(100% - 24px);
    background: #fff;
    width: 150px;
    padding: 5px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transform-origin: top;
}
.post-item-header-menu-wrapper.active .post-item-header-menu {
    opacity: 1;
    max-height: 1000px;
    transform: scaleY(1);
}
.post-item-header-menu-link-overlay {
    padding: 5px;
    width: 100%;
    display: inline-block;
    position: relative;
    color: #b5b5b5;
    transition: color 0.3s;
}
.post-item-header-menu-link-overlay::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 50px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #cccccc;
}
.post-item-header-menu-link-overlay:last-child::after {
    display: none;
}
.post-item-header-menu-item {
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    transition: color 0.3s;
}
.post-item-header-menu-link-overlay:hover .post-item-header-menu-item {
    color: #262626;
}
.post-detail-wrapper {
    display: flex;
    width: 900px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 600px;
}
.post-detail-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 335px);
    position: relative;
    overflow: hidden;
}
.post-detail-image-blur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    filter: blur(30px) grayscale(50%);
}
.post-detail-image {
    max-width: 100%;
    height: auto;
    z-index: 100;
}
.post-detail {
    max-height: 100%;
    background: #fff;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #efefef;
}
.post-detail-header {
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
}
.post-detail-header-author {
    height: 60px;
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
    padding: 0 10px;
}
.post-detail-header-author-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}
.post-detail-header-author-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #cccccc;
    background-position: center;
    background-size: cover;
}
.post-detail-header-author-username {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}
.post-detail-comment-container {
    padding: 5px 10px;
    min-height: calc(100% - 183px);
    overflow-y: auto;
}
.delete-text {
    color: #ff7979;
}
.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}