{% extends 'base.html' %}

{% block title %}
{{ account.username }}
{% endblock %}

{% block main %}
<div class="container account-container">
    <div class="account-wrapper">
        <div class="account-avatar-wrapper">
            <div class="account-avatar" {% if account.avatar %}style="background-image: url({{ account.avatar.url }})"{% endif %}></div>
        </div>
        <div class="account-info-wrapper">
            <div class="account-info-main">
                <span class="account-info-main-username">{{ account.username | slice:':16' }}</span>
                {% if user.pk == account.pk %}
                <div class="account-info-main-button-wrapper">
                    <a href="{% url 'users:edit' account.pk %}" class="account-info-main-button">Редактировать профиль</a>
                </div>
                <div class="account-info-main-settings">
                    <span class="account-info-main-settings-trigger"></span>
                    <nav class="account-info-main-settings-menu">
                        <a href="{% url 'users:password_change' account.pk %}" class="account-info-main-settings-menu-link-overlay">
                            <span class="account-info-main-settings-menu-item">Сменить пароль</span>
                        </a>
                        <a href="{% url 'users:logout' %}" class="account-info-main-settings-menu-link-overlay">
                            <span class="account-info-main-settings-menu-item">Выйти</span>
                        </a>
                    </nav>
                </div>
                {% endif %}
            </div>
            <div class="account-info-stats">
                <div class="account-info-stats-block">Публикации: <span class="bold-text">0</span></div>
                <a href="#" class="account-info-stats-block">
                    <div>Подписчики: <span class="bold-text">0</span></div>
                </a>
                <a href="#" class="account-info-stats-block">
                    <div>Подписки: <span class="bold-text">0</span></div>
                </a>
            </div>
            <div class="account-info-description">
                <span class="bold-text">{% if account.status %}{{ account.status }}{% else %}Без статуса{% endif %}</span>
                <br>
                {% if account.email %}
                <span>{{ account.email }}</span>
                <br>
                {% endif %}
                {% if account.description %}
                <span>{{ account.profile.description }}</span>
                <br>
                {% endif %}
                {% if account.phone %}
                <span>{{ account.profile.phone }}</span>
                <br>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="account-posts-wrapper">
        <div class="account-posts-header">
            <div class="account-posts-header-item active"><span>Публикации</span></div>
        </div>
        <div class="account-posts-container">
            <!--            <div class="account-post-item">-->
            <!--                <a href="#">-->
            <!--                    <div class="account-post-item-overlay">-->
            <!--                        <div class="account-post-item-overlay-text">-->
            <!--                            <div class="account-post-item-overlay-block likes">10</div>-->
            <!--                            <div class="account-post-item-overlay-block comments">0</div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </a>-->
            <!--            </div>-->
            <div class="account-post-nothing">Нет постов для показа</div>
        </div>
    </div>
</div>
{% if user.pk == account.pk %}
{% include 'partials/_profile_menu_script.html' %}
{% endif %}
{% endblock %}