{% extends 'base.html' %}

{% block title %}
Edit
{% endblock %}

{% block main %}
<div class="container register-container">
    <div class="register-wrapper">
        <form action="{% url 'users:edit' account.pk %}" method="post" class="form logo" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'partials/_form.html' %}
            <div class="form-group">
                <button type="submit" class="button-submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}