{% extends 'base.html' %}

{% block title %}
Password change
{% endblock %}

{% block main %}
<div class="container register-container">
    <div class="register-wrapper">
        <form action="{% url 'accounts:password_change' account.pk %}" method="post" class="form logo">
            {% csrf_token %}
            {% include 'partials/_form.html' %}
            <div class="form-group">
                <button type="submit" class="button-submit">Сменить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}