{% for error in form.non_field_errors %}
<p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
<div class="form-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.id_for_label }}" class="form-label
            {% if field.field.required %}required{% endif %}">{% if field.field.required %}•{% endif %} {{ field.label }} {% if field.field.required %}•{% endif %}</label>
    {% if field.errors %}
    {{ field }}
    {% for error in field.errors %}
    <p class="form-error">{{ error }}</p>
    {% endfor %}
    {% else %}
    {{ field }}
    {% endif %}
</div>
{% endfor %}