<script>
    document.querySelectorAll('.sidebar-recommendation-account-button').forEach(function (subscribeButton) {
        subscribeButton.addEventListener('click', function (event) {
            event.preventDefault();
            const url = this.getAttribute('href');
            fetch(url).then(function (response) {
                if(response.ok) {
                    return response.json()
                }
            }).then(function (response) {
                if (response['is_subscribed'])
                    subscribeButton.textContent = 'Отписаться';
                else
                    subscribeButton.textContent = 'Подписаться';
            });
        });
    })
</script>